  <header class="yb-main-header" id="main-header">

    <!-- home section -->
    <div class="yb-full-height " id="home">



      <section class="yb-profile-desc">
        <div class="yb-section-point-wrapper" data-uk-parallax="opacity: 1, 0;">
          <div class="uk-container">
            <div class="yb-section-point">
              <sup>01</sup>
              <span>welcome</span>
            </div>
          </div>
        </div>
        <div class="yb-graphics">
          <div class="yb-graphic-1" data-uk-parallax="blur: 0,30;"></div>
          <div class="yb-graphic-2" data-uk-parallax="blur: 0,30;"></div>
        </div>
        <div class="uk-container uk-text-center yb-profile-desc-wrap uk-position-relative">
          <img src="src/img/x1.png" alt="" width="60" />
          <h1 class="uk-text-bold yb-gradient-text"><span>Furkan</span> <span>Duran</span></h1>
          <div class="uk-text-bold yb-myjob">
            Im a <span id="typed" class="typed"> Software Developer </span>
            <span class="typed-cursor typed-cursor--blink">|</span>
          </div>
          <div>
            <div>
              <div class="uk-margin">
                <div class="uk-form-controls uk-inline uk-width-1-1">
                  <span class="uk-form-icon" data-uk-icon="icon: user"></span>
                  <input class="yb-input uk-input  uk-border-rounded" type="email" name="f_email" id="f_email" placeholder="Email" />
                </div>
                <small class="uk-text-danger err-msg" id="f_email_error"></small>
              </div>
            </div>
            <div>
              <div class="uk-margin">
                <div class="uk-form-controls uk-inline uk-width-1-1">
                  <span class="uk-form-icon" data-uk-icon="icon: user"></span>
                  <input class="yb-input uk-input  uk-border-rounded" type="password" name="f_email" id="f_email" placeholder="Password" />
                </div>
                <small class="uk-text-danger err-msg" id="f_email_error"></small>
                Do not have an account <a href="@Html.ActionLink("Signup" , "Signup", "Login")"> Sign Up</a>
              </div>
            </div>
               <div class="uk-margin-top">
                <button class="uk-button uk-button-primary uk-button-large  yb-btn" type="submit" id="btn-contact-form" data-textreset="Send Now">
                  <span class="uk-margin-small-right btn-text-wrap">Log in</span>
                  <span data-uk-icon="arrow-right" class="uk-icon"> </span>
                </button>
              </div>
          </div>
        </div>
      </section>
      

    </div><!-- end home section -->

    <!-- main menu -->
  </header><!-- end main header -->